{% extends "padre.html" %}

{% block titulo_pagina %}
EntregaFinal - Sobre Mi
{% endblock %}

{% block titulo %}
<h1>Bienvenido a la informacion sobre mi.</h1>
{% endblock %}

{% block area_form %}

<div style="margin: 0 auto; width: 70%;">

    <br>

    <p style="text-align: justify;">Hola, soy Diego Santacruz, un apasionado actuario de 28 años, estudiante de la Universidad de Buenos Aires.</p>

    <p style="text-align: justify;">Actualmente, me desempeño como Analista Actuarial en Galicia Seguros, donde aplico mi experiencia y conocimientos para contribuir al análisis y la gestión de riesgos.</p>

    <p style="text-align: justify;">Mi motivación principal radica en un deseo constante de crecimiento y aprendizaje. Busco constantemente oportunidades para potenciar mis habilidades y adquirir nuevas competencias.</p>

    <p style="text-align: justify;">Soy una persona curiosa y comprometida en mis tareas, siempre dispuesto a enfrentar nuevos desafíos y aportar soluciones creativas.</p>

    <p style="text-align: justify;">Me destaco por mi capacidad para trabajar en equipo y mi habilidad para establecer relaciones interpersonales sólidas.</p>

    <p style="text-align: justify;">Además, tengo un sólido manejo de herramientas tecnológicas, lo que me permite optimizar procesos y mejorar la eficiencia en mi trabajo diario.</p>

    <p style="text-align: justify;">Fuera del ámbito laboral, disfruto del deporte, la tecnología y viajar para conocer nuevas culturas y personas. Creo firmemente en la importancia de la diversidad y la multiculturalidad como fuentes de enriquecimiento personal y profesional.</p>

    <p style="text-align: justify;">Recientemente, me he embarcado en un curso de desarrollo para mejorar mis habilidades en análisis de datos y utilizar programas especializados en este campo.</p>

    <p style="text-align: justify;">Estoy entusiasmado por aplicar lo aprendido en mi trabajo y generar análisis más sólidos y precisos para la toma de decisiones en Galicia Seguros.</p>

    <p style="text-align: justify;">Estoy abierto a nuevas oportunidades y desafíos que me permitan seguir creciendo tanto a nivel profesional como personal. ¡Espero conectarme con ustedes y explorar posibles colaboraciones en el futuro!</p>

    <p style="text-align: justify;">En la descripcion de abajo, tendras acceso a mis datos personales para contactarme conmigo. Un gusto sería poder conocerte</p>
</div>

{% endblock %}